# directories
.vagrant
.vscode
env
.env

prometheus-2.38.0.linux-amd64

# basic auth related
*.htpasswd
basic_auth_password

# certificate related
*.csr
*.pem

# playbooks related
azure_credentials.yml
*.retry